.ms-header-login-btn .ms-register-btn {
    margin-right: 30px;
}
.ms-demo-logout-header .ms-header-search-bar {
    margin-right: 28px;
    margin-left: 0;
}
.ms-header-search-bar .searchBtn {
    right: auto;
    left: 0;
}
.ms-header-logo a span.ms-logotext {
    margin-right: 10px;
}
.ms-banner-heading .ms-transparent-btn {
    margin-right: 30px;
}
.ms-top-movies-heading .view-all {
    margin-right: auto;
    margin-left: 0;
}
.ms-top-movies-heading .view-all i {
    margin-right: 5px;
    transform: rotate(180deg);
    margin-left: 0;
}
.ms-overview-heading h5 {
    padding-right: 15px;
    padding-left: 0;
}
.ms-overview-right-footer ul li {
    margin-right: 0px;
    margin-left: 25px;
}
.ms-overview-right-footer ul li:last-child{
    margin-left: 0px;
}
.ms-overview-right-footer ul li a span svg {
    margin-left: 7px;
    margin-right: 0;
}
.ms-footer-news-input input {
    padding: 0 20px 0 60px;
}
.ms-footer-news-input a span {
    right: auto;
    left: -20px;
}
a.ms-admin > span {
    margin-left: 0;
    margin-right: 15px;
}
a.ms-admin > span > i {
    margin-left: 0;
    margin-right: 20px;
}
.ms-blog-thumb-inner .ms-blog-meta-data ul li:last-child p span {
    margin-right: 0;
    margin-left: 10px;
}
.ms-blog-meta-data ul li a span {
    margin-right: 0;
    margin-left: 10px;
}
.ms-epi-heading .heading {
    text-align: right;
}
.input-wrap input {
    padding-left: 15px;
    padding-right: 15px;
}
.comments-area .comment-respond form#commentform > fieldset.comments-rating {
    margin-left: 0;
    margin-right: 10px;
}
.ms-epi-right {
    margin-left: 0;
    margin-right: 30px;
}
.ms-epi-right span {
    right: auto;
    left: 15px;
}
.comment-info {
    padding: 0 20px 0 0px;
}
.ms-footer-social ul li {
    margin-right: 0;
    margin-left: 10px;
}
.ms-footer-social ul li:last-child {
    margin-left: 0px;
}
.posted_in>*, .sku_wrapper>*, .tagged_as>* {
    margin: 0 10px 23px 0px;
}
.product_meta .tagged_as>* {
    margin: 0 10px 10px 0px;
}
.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none;
}
.woocommerce table.cart td.actions .coupon input#coupon_code {
    margin-right: 20px;
}
.woocommerce table.cart td.actions .coupon input#coupon_code {
    border-radius: 0px 4px 4px 0px;
}
.woocommerce table.cart td.actions .coupon button.button, .woocommerce table.cart td.actions .coupon button.button {
    border-radius: 4px 0px 0px 4px;
}
.woocommerce-checkout .woocommerce form.checkout_coupon .form-row.form-row-first input#coupon_code {
    border-radius: 0px 4px 4px 0px;
}
.woocommerce form.checkout_coupon p button.button {
    border-radius: 4px 0px 0px 4px;
}
.wp-block-search .wp-block-search__input {
    border-radius: 0px 4px 4px 0px;
    padding: 0 10px 0 10px;
}
body .wp-block-search .wp-block-search__button {
    border-radius: 4px 0px 0px 4px !important;
}
.ms-sidebar-wrapper .widget ul li:before {
    left: auto;
    right: -12px;
}
.search-form label input.search-field {
    border-radius: 0px 4px 4px 0px;
}
.search-form .search-submit {
    border-radius: 4px 0px 0px 4px !important;
}
.ms-recent-post-widgets ul li>img {
    margin: 0 0px 10px 20px;
}
.ms-text-icon {
    margin: 0 0px 0 5px;
}
.toggle-box .right-text {
    margin-left: 0;
    margin-right: 10px;
}
.ms-profile-dropdown {
    border-radius: 0px 15px 15px 15px;
    left: -55px;
    right: auto;
}
.ms-profile-dropdown ul li.ms-profile-logout img:first-child {
    margin: -2px 0px 0 20px;
}
.ms-profile-dropdown ul li {
    padding: 0 20px 0 10px;
}
.ms-profile-dropdown ul li.ms-profile-logout {
    padding: 0 20px 10px 0px;
}
.ms-profile-dropdown ul li.ms-profile-logout img:nth-child(2) {
    right: 21px;
    left: auto;
}
.ms-details-email {
    right: auto;
    left: 0;
}
.ms-footer-field p {
    margin-left: 0;
    margin-right: auto;
}
.ms-register-gender label {
    margin-left: 0px !important;
    margin-right: 25px !important;
}
.ms-register-gender label::before {
    right: -10px;
}
.ms-register-gender label::after {
    right: -5px;
}
.ms-profile-dropdown img.menu-image.menu-image-title-after {
    margin: -2px 0px 0 24px;
}
.ms-details-email p:last-child {
    margin-left: 0px;
    margin-right: 15px;
}
.ms-register-line p {
    text-align: right;
}
@media(min-width:1200px){
    .ms-header-wrapper .menu>li:last-child {
        padding: 0 28px 0 0;
    }
    .ms-header-wrapper .menu>li:first-child {
        padding: 0;
    }
}
@media(max-width:1199px){
    .ms-demo-logout-header .ms-header-search-bar {
        margin-right: 0px;
        margin-left: 15px;
    }
   .ms-header-login-btn .ms-register-btn {
        margin-right: 15px;
        margin-left: 0;
    }
    .ms-toggle-btn.open-menu span:nth-child(3) {
        transform: rotate( 135deg) translate(8.7px, 5px);
        margin: 0;
    }
    .ms-header-menu ul.menu {
        right: -340px;
        text-align: right;
        border-right:0;
        border-left: 1px solid var(--ms-bg-color);
    }
    .ms-header-menu.open-menu ul {
        left:auto;
        right: 0;
    }
    .ms-toggle-btn {
        margin-left: 0;
        margin-right: 20px;
    }
}
@media(max-width:992px){
    .ms-overview-slider-btn .swiper-button-next {
        right: auto;
        left: 55%;
    }
    .ms-epi-right {
        margin-right: 0;
    }
}
@media(max-width:767px){
    .ms-header-logo a {
        justify-content: flex-end;
    }
    .ms-header-logo a {
        justify-content: unset;
    }
    .ms-demo-logout-header .ms-toggle-btn {
        margin-left: 0;
    }
    .ms-header-wrapper .ms-toggle-btn {
        right: auto;
        left: 15px;
    }
    .ms-header-search-bar {
        margin-left: 0;
        margin-right: 0;
    }
    .ms-profile-dropdown {
        left: -100px;
        right: auto;
    }
}
@media(max-width:575px){
    .ms-demo-logout-header .ms-toggle-btn {
        left: 15px !important;
        right: auto !important;
    }
    .ms-footer-news-input a span {
        left: 0px;
    }
    .ms-profile-dropdown {
        left: -75px;
        right: auto;
    }
    .ms-header-wrapper .ms-toggle-btn {
        top: 65px;
    }
}
@media(max-width:480px){
    .ms-banner-heading .ms-transparent-btn {
        margin-right: auto;
    }
}
@media(max-width:375px){
    .ms-demo-logout-header .ms-profile-dropdown {
        left: 0px;
        right: auto;
    }
    .ms-profile-dropdown {
        left: -40px;
        right: auto;
    }
}